.container-filter {
  position: absolute;
  width: 420px;
  height: 420px;
  margin-top: 5%;
  margin-left: 33%;
  border: 1px solid rgb(221, 218, 218);
  border-radius: 4px;
}
.container-filter h6 {
  margin-top: 20%;
  margin-left: 5%;
}
.container-filter select {
  position: absolute;
   margin-top: 3%;
   margin-left: 4%;
   width: 40%;
} 
.container-filter .apply {
  background-color: black;
  color: white;
  border: none;
  width: 50%;
  height: 40px;
  margin-top: 5%;
}

.container-filter .reset {
  width: 50%;
  background-color: #fff;
  color: black;
   height: 40px;
  margin-top: 5%;
}
.cart-count {
  background-color: red;
  color: white;
  height: 30px;
  width: 50px;
  border-radius: 50px;
}
nav ul li a:hover {
   color: black;
}
.btn-show {
  background-color: black;
  color: white;
  width: 120px;
  height: 40px;
}
.add-basket {
  background-color: black;
  color: white;
  width: 120px;
  height: 40px;
}
.form-select {
  width: 120%;
  height: 35px;
}